NODE_ENV = ""
PORT = ""
MONGODB_URI = ""
DB_NAME = ""
CORS_ORIGIN = ""
CLOUDINARY_CLOUD_NAME = ""
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""
JWT_SECRET = ""
JWT_TOKEN_EXPIRY = ""
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
REDIS_USERNAME = ""
REDIS_HOST = ""
REDIS_PORT = ""
REDIS_PASSWORD = ""
EMAIL_USER = ""
EMAIL_PASS = ""
AWS_REGION = ""
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_SES_VERIFIED_EMAIL = ""