NODE_ENV = ""
PORT = ""
MONGODB_URI = ""
DB_NAME = ""
CORS_ORIGIN = ""
CLOUDINARY_CLOUD_NAME = ""
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""
JWT_SECRET = ""
JWT_TOKEN_EXPIRY = ""
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
REDIS_USERNAME = ""
REDIS_HOST = ""
REDIS_PORT = ""
REDIS_PASSWORD = ""
TWILIO_ACCOUNT_SID = ""
EMAIL_USER = ""
EMAIL_PASS = ""
TWILIO_TOKEN = ""
TWILIO_NUMBER = ""